.container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;

    .timer-wrp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;

        .timer {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 15px;
           
            &>div {
                font-size: 70px;
                margin: 10px;
                font-weight: 700;
            }

            .dd {
                position: relative;
                top: -6px;
            }
        }

        .timer-btns {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {
                background: transparent; 
                border: none;
                padding: 0;

                img {
                    height: 50px;
                    width: 50px;
                    cursor: pointer;
                }
            }
        }
    }
}

